.error {
    margin:2rem;
    font-size:1.3rem;
    font-family: sans-serif;
    transition: all .5s ease-in;
    opacity:0;
    color:#eee;
    padding:1rem;
}

.error.show {
    background-color: #a36;
    opacity: 1;
}
