body {
    margin:0px;
    --drop-shadow: drop-shadow(#000 2px 2px 2px);
}

.content {
    height:calc(100vh);
    width:calc(100vw);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.content .description {
    font-family: sans-serif;
    font-size:1.3rem;
}

.content .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    margin:2rem;
}

button.action {
    background: none;
    border-color: #36a;
    color: #36a;
    border-radius: 0.6rem;
    padding: 0.6rem;
    font-size: 1.3rem;
    transition: all .3s ease-out;
    margin-left: .6rem;
    margin-right: .6rem;
}

button.action:hover {
    background: rgb(201,201,201,.3);
    transition: all .3s ease-in;
    cursor: pointer;
}

.content .row .col {
    flex-direction: column;
    flex-grow:1;
    align-items: top;
    justify-content: left;
}

.content ul {
    list-style: none;
    font-family: sans-serif;
}

.content li {
    margin-top:.6rem;
}

.content li.header {
    font-weight: bold;
}

.content li a {
    text-decoration: none;
}